body {
    background-image: url(img/background.jpg);
}

h1 {
    text-align: center;
    text-shadow: 0.1em 0.1em peachpuff;
    font-family: monospace;
    font-size: 50px;
    opacity: 0.8;
    transform: scale(1, 1);
    transition: all 1s ease-out;
    /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7); */
}

h1:hover {
    transform: scale(1.7, 1.7);
}

canvas {
    display: block;
    background-color: seashell;
    margin-left: auto;
    margin-right: auto;
    border: 12px solid peachpuff;
    margin-top: 50px;
    border-style: inset;
}

li {
    margin: 15px 5px 5px 5px;
    float: left;
}

ul {
    opacity: 0.8;
    background: url(img/panel.png) no-repeat;
    background-position: left top;
    background-size: 97%;
    width: 100%;
    height: 60px;
    margin: 0px;
    transition: height 1s;
    padding-top: 0px;
    overflow: auto;
    position: fixed;
    bottom: 0;
    list-style-type: none;
}

ul:hover {
    height: 90px;
}

#myColor {
    image-orientation: url(img/palette.png) no-repeat;
    transition: height 1s;
}

#brush {
    transform: scale(1, 1);
    transition: all 1s ease-out;
    padding-left: 5px;
}

#brush:hover {
    transform: scale(1.7, 1.7);
}

#eraser {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#eraser:hover {
    transform: scale(1.7, 1.7);
}

#rect {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#rect:hover {
    transform: scale(1.7, 1.7);
}

#rect_block {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#rect_block:hover {
    transform: scale(1.7, 1.7);
}

#circle {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#circle:hover {
    transform: scale(1.7, 1.7);
}

#circle_block {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#circle_block:hover {
    transform: scale(1.7, 1.7);
}

#triangle {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#triangle:hover {
    transform: scale(1.7, 1.7);
}

#triangle_block {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#triangle_block:hover {
    transform: scale(1.7, 1.7);
}

#textbox {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#textbox:hover {
    transform: scale(1.7, 1.7);
}

#download {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#download:hover {
    transform: scale(1.7, 1.7);
}

#redo {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#redo:hover {
    transform: scale(1.7, 1.7);
}

#undo {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#undo:hover {
    transform: scale(1.7, 1.7);
}

#reset {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#reset:hover {
    transform: scale(1.7, 1.7);
}

#text {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#text:hover {
    transform: scale(1.7, 1.7);
}

#font_size {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#font_size:hover {
    transform: scale(1.7, 1.7);
}

#brush_size {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#brush_size:hover {
    transform: scale(1.7, 1.7);
}

#font {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#font:hover {
    transform: scale(1.7, 1.7);
}

#myColor {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
    padding-left: 5px;
}

#myColor:hover {
    transform: scale(1.7, 1.7);
}


/* #download {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

#download:hover {
    transform: scale(1.7, 1.7);
} */